h1 {
    color: #d62828;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 54px;
    font-style: normal;
    margin-top: 20px;
}

table {
    width: 60%;
    border-collapse: separate;
    border-spacing: 1em 1em;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    background-color: #291026;
}

th {
    color: #f77f00;
    border-bottom: 1px solid #f77f00;
    padding-bottom: 15px;
}

body {
    height: 100vh;
    background-image: url("/static/graphics/homeBG.jpeg");
    background-position: center;
    background-size: cover;
}