#gameName1 {
    font-family: "Marcellus", serif;
    font-size: 80px;
    font-style: normal;
    margin-top: 180px;
}

#gameName2 {
    font-family: "Marcellus", serif;
    font-size: 80px;
    font-style: normal;
}