body {
    user-select: none;
}

#gameContainer {
    width: 1650px;
    height: 600px;
    position: relative;
    overflow: hidden;
    background-color: #f4f1de;
    border-radius: 20px;
}

@keyframes cloudMovement {
    0%{left: 1700px;}
    100%{left: -250px;}
}

#cloud1 {
    width: 200px;
    height: auto;
    position: absolute;
    left: 1700px;
    top: 100px;
    animation: cloudMovement 30s linear 0s infinite;
    animation-play-state: paused;
}
#cloud2 {
    width: 200px;
    height: auto;
    position: absolute;
    left: 1700px;
    top: 50px;
    animation: cloudMovement 30s linear 10s infinite;
    animation-play-state: paused;
}
#cloud3 {
    width: 200px;
    height: auto;
    position: absolute;
    left: 1700px;
    top: 100px;
    animation: cloudMovement 30s linear 20s infinite;
    animation-play-state: paused;
}
#cloud4 {
    width: 200px;
    height: auto;
    position: absolute;
    left: 1700px;
    top: 150px;
    animation: cloudMovement 30s linear 30s infinite;
    animation-play-state: paused;
}

#scoreText {
    position: absolute;
    border: 2px solid black;
    border-radius: 10px;
    right: 50px;
    top: 50px;
    padding: 10px 20px 10px 20px;
}

#gameOverText {
    position: absolute;
    top: 250px;
    left: 650px;
    font-size: 50px;
}

#playButton {
    position: absolute;
    top: 50px;
    left: 50px;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    background-color: #f4f1de;
}

#pauseButton {
    position: absolute;
    top: 50px;
    left: 50px;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    background-color: #f4f1de;
}

#resumeButton {
    position: absolute;
    top: 50px;
    left: 50px;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    background-color: #f4f1de;
}

#resetButton {
    position: absolute;
    top: 50px;
    left: 180px;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    background-color: #f4f1de;
}

@keyframes jump {
    0%{top: 390px;}
    20%{top: 60px;}
    60%{top: 60px;}
    100%{top: 390px;}
}

.animate {
    animation: jump 500ms linear;
}

#sprite {
    width: auto;
    height: 160px;
    position: absolute;
    top: 410px;
    left: 50px;
}

@keyframes slide {
    0%{left: 2200px}
    100%{left: -40px}
}

#flyingObstacle {
    width: auto;
    height: 150px;
    position: absolute;
    top: 400px;
    left: 2200px;
    animation: slide 2s linear 2s infinite;
    opacity: 0;
    animation-play-state: paused;
}

#gameOverText, #pauseButton, #resumeButton, #resetButton {
    display: none;
}

#ground1 {
    left: 0px;
    width: 1650px;
    height: auto;
    position: absolute;
    top: 570px;
}
#ground2 {
    width: 1650px;
    height: auto;
    position: absolute;
    left: 1649px;
    top: 570px;
}

#fatCactusObstacle {
    height: 120px;
    width: auto;
    position: absolute;
    top: 460px;
    left: 2700px;
}

#largeCactusObstacle {
    height: 120px;
    width: auto;
    position: absolute;
    top: 460px;
    left: 3200px;
}