body {
    user-select: none;
}

#sprite-container {
    width: 800px;
    height: 300px;
    border: 1px solid black;
    margin: auto;
}

#sprite {
    width: 50px;
    height: 50px;
    position: relative;
    top: 250px;
}

@keyframes jump {
    0%{top: 250px;}
    30%{top: 120px;}
    70%{top: 120px;}
    100%{top: 250px;}
}

.animate {
    animation: jump 500ms linear;
}

@keyframes slide {
    0%{left: 850px}
    100%{left: -80px}
}

#obstacle {
    width: 20px;
    height: 20px;
    position: relative;
    top: 240px;
    left: 850px;
    animation: slide 2s linear 2s infinite;
    opacity: 0;
    animation-play-state: paused;
}

#gameOverText, #pauseButton, #resumeButton {
    display: none;
}