body {
    user-select: none;
}

.shake {
    transform: translateX(-30px);
}

#gameContainer {
    width: 1650px;
    height: 600px;
    position: relative;
    overflow: hidden;
    background-color: #f4f1de;
    /* background-color: black; */
    border-radius: 20px;
}

@keyframes jump {
    0%{top: 480px;}
    20%{top: 120px;}
    60%{top: 120px;}
    100%{top: 480px;}
}

.animate {
    animation: jump 500ms linear;
}

#dino {
    width: 235px;
    height: 100px;
    position: absolute;
    top: 480px;
    left: 50px;
}

@keyframes slide {
    0%{left: 2200px}
    100%{left: -400px}
}

#dragon {
    width: 300px;
    height: auto;
    position: absolute;
    top: 400px;
    left: 2200px;
    animation: slide 2.5s linear 2s infinite;
    animation-play-state: paused;
    transition: top 0.2s cubic-bezier(0.76, 0, 0.24, 1), width 0.2s cubic-bezier(0.76, 0, 0.24, 1);
}

#horizontalFire {
    width: 290px;
    position: absolute;
    top: 470px;
    left: 2900px;
}

#verticalFire1 {
    height: 170px;
    width: auto;
    position: absolute;
    top: 410px;
    left: 3200px;
}

#verticalFire2 {
    height: 170px;
    width: auto;
    position: absolute;
    top: 410px;
    left: 3500px;
}

#scoreText {
    position: absolute;
    right: 70px;
    top: 40px;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    display: none;
}

#gameOverText {
    position: absolute;
    top: 250px;
    left: 620px;
    font-size: 50px;
    opacity: 0;
    transition: opacity 0.8s cubic-bezier(0.34, 1.56, 0.64, 1);
}

#playButton {
    position: absolute;
    top: 30px;
    left: 30px;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    background-color: #f4f1de;
    box-shadow: #bc4749 6px 6px;
}

#pauseButton {
    position: absolute;
    top: 30px;
    left: 30px;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    background-color: #f4f1de;
    display: none;
    box-shadow: #bc4749 6px 6px;
}

#resumeButton {
    position: absolute;
    top: 30px;
    left: 30px;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    background-color: #f4f1de;
    display: none;
    box-shadow: #bc4749 6px 6px;
}

#resetButton {
    position: absolute;
    top: 100px;
    left: 30px;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    background-color: #f4f1de;
    display: none;
    box-shadow: #bc4749 6px 6px;
}

#playButton:hover, #pauseButton:hover, #resumeButton:hover, #resetButton:hover {
    padding: 11px 21px 11px 20px;
}

#ground1 {
    left: 0px;
    width: 1650px;
    height: auto;
    position: absolute;
    top: 570px;
}

#ground2 {
    width: 1650px;
    height: auto;
    position: absolute;
    left: 1650px;
    top: 570px;
}

@keyframes cloudMovement {
    0%{left: 1700px;}
    100%{left: -250px;}
}

#cloud1 {
    width: 200px;
    height: auto;
    position: absolute;
    left: 1700px;
    top: 100px;
    animation: cloudMovement 30s linear 0s infinite;
    animation-play-state: paused;
}

#cloud2 {
    width: 200px;
    height: auto;
    position: absolute;
    left: 1700px;
    top: 50px;
    animation: cloudMovement 30s linear 10s infinite;
    animation-play-state: paused;
}

#cloud3 {
    width: 200px;
    height: auto;
    position: absolute;
    left: 1700px;
    top: 100px;
    animation: cloudMovement 30s linear 20s infinite;
    animation-play-state: paused;
}

#cloud4 {
    width: 200px;
    height: auto;
    position: absolute;
    left: 1700px;
    top: 150px;
    animation: cloudMovement 30s linear 30s infinite;
    animation-play-state: paused;
}