body {
    user-select: none;
}

#game-container {
    width: 1650px;
    height: 600px;
    position: relative;
    overflow: hidden;
    background-color: #f4f1de;
}

#sprite {
    width: auto;
    height: 160px;
    position: absolute;
    top: 410px;
    left: 50px;
}

@keyframes jump {
    0%{top: 390px;}
    20%{top: 60px;}
    60%{top: 60px;}
    100%{top: 390px;}
}

.animate {
    animation: jump 500ms linear;
}

@keyframes slide {
    0%{left: 2200px}
    100%{left: -40px}
}

#flyingObstacle {
    width: auto;
    height: 150px;
    position: absolute;
    top: 400px;
    left: 2200px;
    animation: slide 3s linear 2s infinite;
    opacity: 0;
    animation-play-state: paused;
}

#gameOverText, #pauseButton, #resumeButton {
    display: none;
}

#ground1 {
    left: 0px;
    width: 1650px;
    height: 100px;
    position: absolute;
    top: 500px;
}
#ground2 {
    width: 1650px;
    height: 100px;
    position: absolute;
    left: 1649px;
    top: 500px;
}

@keyframes cactusMovement {
    0%{left: 1700px}
    100%{left: -40px}
}

#fatCactusObstacle {
    height: 120px;
    width: auto;
    position: absolute;
    top: 450px;
    left: 1700px;
}

/* #thickCactus2 {
    height: 120px;
    width: auto;
    position: absolute;
    top: 450px;
    left: 1100px;
}

#thinCactus1 {
    height: 120px;
    width: auto;
    position: absolute;
    top: 450px;
    left: 1600px;
}
#thinCactus2 {
    height: 120px;
    width: auto;
    position: absolute;
    top: 450px;
    left: 1300px;
} */