{% extends "layout.html" %}

{% block title %}
    Game
{% endblock %}

{% block main %}

    <div id="game-container">
        <span>
            <img src="static/graphics/ground.png" alt="" id="ground1">
            <img src="static/graphics/ground.png" alt="" id="ground2">
        </span>

        <img src="static/graphics/flyingObstacle.gif" alt="" id="flyingObstacle">

        <img src="static/graphics/standingDino.png" alt="" id="sprite">

        <img src="static/graphics/fatCactusObstacle.png" alt="" id="fatCactusObstacle">
        <!-- <img src="static/graphics/largeCactus.png" alt="" id="thickCactus2"> -->
        <!-- <img src="static/graphics/cactus.png" alt="" id="thinCactus1"> -->
        <!-- <img src="static/graphics/cactus.png" alt="" id="thinCactus2"> -->
    </div>

    <p id="gameOverText">Game Over</p>
    <div>
        <button id="playButton">Play</button>
        <button id="pauseButton">Pause</button>
        <button id="resumeButton">Resume</button>
    </div>
    <p id="scoreText">Score: 0</p>

{% endblock %}