{% extends "layout.html" %}

{% block title %}
    Game
{% endblock %}

{% block main %}

    <div id="game-container">
        <span>
            <img src="static/graphics/ground.png" alt="" id="ground1">
            <img src="static/graphics/ground.png" alt="" id="ground2">
            <!-- <img src="static/graphics/ground.png" alt="" id="ground3"> -->
        </span>
        <img src="static/graphics/standingDino.png" alt="" id="sprite">
        <img src="static/graphics/flyingObstacle.gif" alt="" id="obstacle">
    </div>

    <p id="gameOverText">Game Over</p>
    <div>
        <button id="playButton">Play</button>
        <button id="pauseButton">Pause</button>
        <button id="resumeButton">Resume</button>
    </div>
    <p id="scoreText">Score: 0</p>

{% endblock %}