{% extends "layout.html" %}

{% block styles %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/static/stylesheets/formStyles.css">

{% endblock %}

{% block title %}

    Register

{% endblock %}

{% block main %}

    <main class="container py-5 text-center mt-3">
        <h1 class="px-3">Welcome onboard !</h1>
        <div class="py-5">
            <form action="/register" method="post" class="needs-validation" novalidate>
                <div class="mb-4">
                    <input autocomplete="off" autofocus class="form-control mx-auto" name="username" placeholder="Username" type="text" required>
                </div>
                <div class="mb-4">
                    <input class="form-control mx-auto" name="password" placeholder="Password" type="password" required>
                </div>
                <div class="mb-5">
                    <input class="form-control mx-auto" name="confirmation" placeholder="Confirm Password" type="password" required>
                </div>
                <button type="submit" id="registerButton">Sign Up</button>
            </form>
        </div>
    </main>

{% endblock %}

{% block scripts %}

    <script src="static/scripts/formValidationScript.js"></script>
    
{% endblock %}