{% extends "layout.html" %}

{% block styles %}

    <link rel="stylesheet" href="/static/stylesheets/statsStyles.css">

{% endblock %}

{% block title %}

    My Stats

{% endblock %}

{% block main %}

    <main class="container pt-5 mt-1">

        <div class="text-center mx-auto colored">
            <p class="h1">{{ username }}</p>
        </div>
        
        <div class="mt-5 px-5">
            <div class="progress" role="progressbar">
                <div id="scoreBar" class="progress-bar progress-bar-striped progress-bar-animated"></div>
            </div>
        </div>

        <div class="text-center mt-5">
            <span id="maxText" class="px-3 py-2 fs-4">MAX</span>
            <span id="ratingText" class="colored ms-2 px-3 py-2 fs-4"><strong>{{ highestScore }}</strong></span>
            <span class="colored fs-4 ms-2 px-3 py-2" id="titleText"><strong>{{ title }}</strong></span>
        </div>

        <div class="mt-5 text-center">
            <table class="mx-auto">
                <colgroup>
                    <col span="1" style="width: 40%;">
                    <col span="1" style="width: 60%;">
                </colgroup>
                <thead>
                    <tr>
                        <th>SCORE</th>
                        <th>TIMESTAMP</th>
                    </tr>
                </thead>
                <tbody>
                    {% for record in gameData %}
                        <tr style="color: #f77f00;">
                            <td>{{ record.score }}</td>
                            <td>{{ record.timestamp }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </main>

{% endblock %}
